* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Inria Sans', sans-serif;
    background-image: url('../pictures/ball-background.jpg');
    background-size: contain;
    background-repeat: repeat-y;
    background-attachment: scroll;
    max-width: 100%;
}
   
h1 {
    text-align: center;
    font-family: 'Holtwood One SC', serif;    
    font-size: 30px;
    margin: 1% 23%;
}

h2 {
    text-decoration: underline;
}

h3 {
    line-height: 5px;
}

.header {
    background-color: black;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo-txt, .menu a {
    color: #fff;
    text-decoration: none;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  
.menu ul, .menu, .brands {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
  
.menu li, .brands li {
    margin-right: 15px;
}
  
.dropdown {
    position: relative;
    cursor: pointer;
    margin-left: 40px;

}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 160px;
    border: 1px solid #000000;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #000000;
}

.banner {
    width: 100%;
    height: 35em;
    text-align: center;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.footer-text {
    font-size: 15px;
    margin: 0;
}

.cta {
    background-color: #000000;
    display: inline-block;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0.6em 4em;
    border-radius: 1em;
    border: 0.2em solid #ffffff;
    margin: 4.5em;
    color: #fff;
}

.cta:hover {
    background: #ffffff;
    color: black;
    border: 0.2em solid black;
}

/* Home */
  
.welcome {
    text-align: center;
    padding: 3% 10%;
    font-size: 20px;
}

.cosmos, .biomed, .evolution {
    text-align: initial;
    padding: 3% 10%;
    font-size: 20px;
}
  
.loc-paragraph {
    text-align: left;
    padding-right: 20%;
    padding-left: 5%;
    background-color: rgb(136, 150, 174);
    border: 2px solid black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4em 15%;
    max-width: 1000px;
    grid-gap: 40px 0;
}
   
.grid-item {
    border: 5px solid red;
    text-align: center;
    margin: 0 20px;
    background-color: #fff;
}

.grid-item img {
    max-width: 100%;
    height: 20em;
}

.grid-item:hover {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

.green-border {
    border: 5px solid green;
    background-color: #fff;
}

.yellow-border {
    border: 5px solid yellow;
    background-color: #000000;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
}

.blue-border {
    border: 5px solid blue;
    background-color: #fff;
}
  
.description {
    text-align: center;
}
.description-special {
    color: #fff;
}

.break-line {
    display: flex;
    align-items: center;
    margin: 0 10px;
}
  
.line-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 20px;
}
  
.line {
    flex-grow: 1;
    height: 5px;
    background-color: black;
    margin: 0 30px;
    margin-bottom: 20px;
}

.hours{
    color: #4a1515;
}

.cta-top {
    margin-left: auto;
}

/* Exhibitions */ /*Education*/
  
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 4.5em;
    margin: 4em 15%;
    max-width: 1000px;
    grid-gap: 0;
}

.special {
    background-color: #000000;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 1);
}

/* Special / Cosmology / Evolution */

.grid-item-special, .grid-item-cosmo, .grid-item-evo {
    border: none;
    margin: 12px;
}

.grid-item-special img, .grid-item-cosmo img, .grid-item-evo img {
    max-width: 100%;
    height: 18em;
}

.special-time {
    padding: 3% 10%;
    font-size: 20px;
    color: #4a1515;
    text-decoration: underline; 
}

.book {
    text-align: center;
}

/* Contact */

.contact-text {
    font-size: 20px;
    text-align: center;
    color: black
}

.form {
    text-align: center;
}

.form form {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.form label {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

.form input[type="text"], .form textarea, .form select {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #000000;
    border-radius: 0.25em;
}

/* Media Queries */

@media (max-width: 1145px) {
    h1 {
        font-size: 20px;
        margin: 5px 5%;
    }    
    .grid, .grid-container {
        margin: 4% auto
    }
    .grid-item img, .grid-item-special img, .grid-item-cosmo img, .grid-item-evo img {
        height: 30em;
    }
}

@media (max-width: 850px) {
    .grid-item {
        margin: 0 8px;
    }    
    
    .grid, .grid-container {
        grid-template-columns: auto;
        grid-gap: 30px;
        margin: 4% 10%;
    }
}

@media (max-width: 650px) {
    .banner {
        width: 100%;
        height: 12em;
        text-align: center;
    }
}
    
@media (max-width: 530px) {
    
    .cta-top {
        margin: 4.5em;
    }

    .grid-item img, .grid-item-special img, .grid-item-cosmo img, .grid-item-evo img {
        height: 18em;
    }
}